{% extends 'base.html' %}

{% block title %}OpenID Connect Relying Party Demo{% endblock %}

{% block main %}
<div class="container text-center pt-5">
    <div class="row mt-3">
        <div class="col">OpenID Connect Relying Party Demo</div>
    </div>
    {% if user %}
    <div class="row mt-3">
        <div class="col">
            <p>You are logged in as <code>{{ user.email }}</code></p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <a href="{{ url_for('oidc_auth.logout') }}" type="button" class="btn btn-outline-primary">Logout</a>
        </div>
    </div>
    {% else %}
    <div class="row mt-3">
        <div class="col">
            <a href="{{ url_for('oidc_auth.login') }}" type="button" class="btn btn-outline-primary">Login</a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
